.App {
  max-width: 700px;
  margin: 0 auto;
  font-family: "Exo", sans-serif;
}

.App-header {
  text-align: center;
  color: #4653a0;
}

.App-footer {
  text-align: center;
  color: #5567c9;
}

.App-footer a {
  color: #5567c9;
  transition: all 150ms ease-in-out;
}

.App-footer a:hover {
  font-weight: 500;
}
